<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class= "main-content">
         <h1>{{>header}}</h1>
         
         <p>How can i help you?</p>
     <p>The term 'nodemon' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the 
spelling of the name, or if a path was included, verify that the path is correct and try again.</p>
    </div>
     
     
    
    {{>footer}}
</body>
</html>