<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class= "main-content">
         <h1 class="h1Head">{{>header}}</h1>
         <div>
             <h1>Frequently Asked Questions</h1>
             <br>
            <h3>General overview</h3> 
            <br>
            <h3>Get Started</h3>
            <p><strong>What ways do you offer to get weather data?</strong></p>
            
           
            <p>We make hyper-local weather data open for any business. For each point on the globe, we provide historical, current and forecasted weather data.</p>
             <hr>

             <p><strong>How to get an API key?</strong></p>
             <ol>
                 <li>Sign up and get an API key (APPID) on your account page.</li>
                 <li>Verify your email address via a confirmation letter that will be sent to you.</li>
                 <li>After verification, check your Inbox again to find our welcome email that contains your API key and important information.</li>
             </ol>
             <hr>
             <br>
             <p><strong>How can I use an API key in API calls?</strong></p>
             <p>To authorise a request from your application and process it appropriately, we strongly recommend that you use your unique API key in each API call.</p>
             <p>Add your API key as an <em>appid</em> parameter to the GET request, like in the following example:
             <em> <span style="color: red;">api.weatherforecast.heroku.com/data/2.5/weather?id=524901&appid=YOUR_API_KEY</span> </em></p>
             <hr>
             <br>
              <p><strong> How many keys can I create?</strong></p>
              <p>You can create as many keys as you need. The total number of API calls is accumulated from all the API keys that belong to your account.</p>
              <hr>
              <br>
              <p><strong> How many keys can I create?</strong></p>
              <p>If you use the One Call API, you need to maintain your usage below the daily and monthly limits.
                 <br> If you use individual APIs, you need to maintain your usage below by-the-minute and monthly limits.
                 </p>
                 <hr>
                 <br>
                 <p><strong>What happens if I exceed the API calls limitation of my subscription?</strong></p>
                 <p style="text-decoration: underline;">For users with the Free plan</p> 
                 
                 <p>We will notify you and ask you to either switch to a subscription plan that meets your needs or reduce the number of API calls in accordance with the established limits. If you don’t take any action, we will be forced to suspend the account.</p>
                 <p style="text-decoration: underline;">For users with paid plans</p> 
                 <p>We will contact you to discuss your needs and find a suitable subscription plan for you. We don’t block paid accounts automatically.</p>
                 <hr>





            
         </div>
         
    </div>
     
     
    
    {{>footer}}
</body>
</html>