<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
    <div class= "main-content"> 
<h1 class="h1Head">{{>header}}</h1>

<img class="forecast" src="/image/weatherforecast.jpg" alt="">

<p class="para"><strong>NB:</strong> Things are kept simple on this website for now because it's still under construction, but you can kindly search for your  <strong> weather-forecast</strong> on the search bar below. </p>

<form> 
    <input type="text" placeholder="Search weather-forecast in your city here">
    <button>Search</button>
</form>
            <p id="message-1"></p>
            <p id="message-2"></p>


<div class="quote">
<h2>Weather forecast</h2>
<p><strong>WRITTEN BY:  <a href="https://www.britannica.com/contributor/John-J-Cahir/455">John J. Cahir</a></strong> </p>

    
<p>Professor of Meteorology; Associate Dean, College of Earth and Mineral Sciences, Pennsylvania State University, University Park. Coauthor of <em>Principles of Climatology</em> and others.</p> 

</div>
<br>

<div class="para">
   <strong> Weather forecasting,</strong> the prediction of the weather through application of the principles of physics, supplemented by a variety of statistical and empirical techniques. In addition to predictions of atmospheric phenomena themselves, weather forecasting includes predictions of changes on Earth’s surface caused by atmospheric conditions—e.g., snow and ice cover, storm tides, and floods.
    
</div>
<br>
<h1>Measurements And Ideas As The Basis For Weather Prediction</h1>
<div class="para">
    The observations of few other scientific enterprises are as vital or affect as many people as those related to weather forecasting. From the days when early humans ventured from caves and other natural shelters, perceptive individuals in all likelihood became leaders by being able to detect nature’s signs of impending snow, rain, or wind, indeed of any change in weather. With such information they must have enjoyed greater success in the search for food and safety, the major objectives of that time. </div>
    <img class="picWeather" src="/image/weather-conditions-St-Louis-Chicago.jpg" alt="">
    <p class="picQuote">
       <strong> weather conditions</strong>
       </p>
<div class="picQuote">Comparing weather conditions for St. Louis and Chicago on a given day.</div>
<div class="picQuote">Encyclopædia Britannica, Inc.</div>
    
<div class="para">
    In a sense, weather forecasting is still carried out in basically the same way as it was by the earliest humans—namely, by making observations and predicting changes. The modern tools used to measure temperature, pressure, wind, and humidity in the 21st century would certainly amaze them, and the results obviously are better. Yet, even the most sophisticated numerically calculated forecast made on a supercomputer requires a set of measurements of the condition of the atmosphere—an initial picture of temperature, wind, and other basic elements, somewhat comparable to that formed by our forebears when they looked out of their cave dwellings. The primeval approach entailed insights based on the accumulated experience of the perceptive observer, while the modern technique consists of solving equations. Although seemingly quite different, there are underlying similarities between both practices. In each case the forecaster asks “What is?” in the sense of “What kind of weather prevails today?” and then seeks to determine how it will change in order to extrapolate what it will be.
    <br>
    Because observations are so critical to weather prediction, an account of meteorological measurements and weather forecasting is a story in which ideas and technology are closely intertwined, with creative thinkers drawing new insights from available observations and pointing to the need for new or better measurements, and technology providing the means for making new observations and for processing the data derived from measurements. The basis for weather prediction started with the theories of the ancient Greek philosophers and continued with Renaissance scientists, the scientific revolution of the 17th and 18th centuries, and the theoretical models of 20th- and 21st-century atmospheric scientists and meteorologists. Likewise, it tells of the development of the “synoptic” idea—that of characterizing the weather over a large region at exactly the same time in order to organize information about prevailing conditions. In synoptic meteorology, simultaneous observations for a specific time are plotted on a map for a broad area whereby a general view of the weather in that region is gained. (The term synoptic is derived from the Greek word meaning “general or comprehensive view.”) The so-called synoptic weather map came to be the principal tool of 19th-century meteorologists and continues to be used today in weather stations and on television weather reports around the world.
    <br>
    Since the mid-20th century, digital computers have made it possible to calculate changes in atmospheric conditions mathematically and objectively—i.e., in such a way that anyone can obtain the same result from the same initial conditions. The widespread adoption of numerical weather prediction models brought a whole new group of players—computer specialists and experts in numerical processing and statistics—to the scene to work with atmospheric scientists and meteorologists. Moreover, the enhanced capability to process and analyze weather data stimulated the long-standing interest of meteorologists in securing more observations of greater accuracy. Technological advances since the 1960s led to a growing reliance on remote sensing, particularly the gathering of data with specially instrumented Earth-orbiting satellites. By the late 1980s, forecasts of the weather were largely based on the determinations of numerical models integrated by high-speed supercomputers—except for some shorter-range predictions, particularly those related to local thunderstorm activity, which were made by specialists directly interpreting radar and satellite measurements. By the early 1990s a network of next-generation Doppler weather radar (NEXRAD) was largely in place in the United States, which allowed meteorologists to predict severe weather events with additional lead time before their occurrence. During the late 1990s and early 21st century, computer processing power increased, which allowed weather bureaus to produce more-sophisticated ensemble forecasts—that is, sets of multiple model runs whose results limit the range of uncertainty with respect to a forecast.

</div>
<h1>Practical Applications</h1>
<div class="para">
    Systematic weather records were kept after instruments for measuring atmospheric conditions became available during the 17th century. Undoubtedly these early records were employed mainly by those engaged in agriculture. Planting and harvesting obviously can be planned better and carried out more efficiently if long-term weather patterns can be estimated. In the United States, the foundations of the national weather services were laid down by American physicist Joseph Henry, the first head of the Smithsonian Institution. In 1849 Henry created a network of volunteer weather observers to help improve storm prediction in the U.S. The first national weather services were provided by the U.S. Army Signal Corps beginning on February 9, 1870, which also incorporated Henry’s volunteer weather observers by 1874. These operations were taken over by the Department of Agriculture in 1891. By the early 1900s free mail service and telephone were providing forecasts daily to millions of American farmers. The U.S. Weather Bureau established a Fruit-Frost (forecasting) Service during World War I, and by the 1920s radio broadcasts to agricultural interests were being made in most states.
    Weather forecasting became an important tool for aviation during the 1920s and ’30s. Its application in this area gained in importance after Francis W. Reichelderfer was appointed chief of the U.S. Weather Bureau (USWB) in 1939. Reichelderfer had previously modernized the U.S. Navy’s meteorological service and made it a model of support for naval aviation. During World War II the discovery of very strong wind currents at high altitudes (the jet streams, which can affect aircraft speed) and the general susceptibility of military operations in Europe to weather led to a special interest in weather forecasting.
    <br>
    One of the most famous wartime forecasting problems was for Operation Overlord, the invasion of the European mainland at Normandy by Allied forces. An unusually intense June storm brought high seas and gales to the French coast, but a moderation of the weather that was successfully predicted by Col. J.M. Stagg of the British forces (after consultation with both British and American forecasters) enabled Gen. Dwight D. Eisenhower, supreme commander of the Allied Expeditionary Forces, to make his critical decision to invade on June 6, 1944.
    <br>
    The second half of the 20th century saw a reorganization of the country’s weather bureau. The USWB was part of the Department of Agriculture until 1940, when it was added to the Department of Commerce. On October 9, 1970, the USWB became the National Weather Service.
    <br>
    

Forecasts must be quite precise for applications that are tailored to specific industries. Gas and electric utilities, for example, may require forecasts of temperature within one or two degrees a day ahead of time, or ski-resort operators may need predictions of nighttime relative humidity on the slopes within 5 to 10 percent in order to schedule snow making.
<br>
</div>
<h1>History Of Weather Forecasting</h1>
<h2>Early measurements and ideas</h2>
<div class="para">
    The Greek philosophers had much to say about meteorology, and many who subsequently engaged in weather forecasting no doubt made use of their ideas. Unfortunately, they probably made many bad forecasts, because Aristotle, who was the most influential, did not believe that wind is air in motion. He did believe, however, that west winds are cold because they blow from the sunset.
    <br>
    The scientific study of meteorology did not develop until measuring instruments became available. Its beginning is commonly associated with the invention of the mercury barometer by Evangelista Torricelli, an Italian physicist-mathematician, in the mid-17th century and the nearly concurrent development of a reliable thermometer. (Galileo had constructed an elementary form of gas thermometer in 1607, but it was defective; the efforts of many others finally resulted in a reasonably accurate liquid-in-glass device.)
    <br>
    </div>
    <img class="picWeather" src="image/Evangelista-Torricelli-physicist-Italian-mercury-barometer.jpg" alt="">
   <div class="picQuote"><strong>Torricelli, Evangelista </strong></div>
<div class="picQuote"> Italian physicist and mathematician Evangelista Torricelli, inventor of the mercury barometer.</div>
<div class="picQuote"> <em> Photos.com/Thinkstock</em></div>
<br>
<div class="para">
    A succession of notable achievements by chemists and physicists of the 17th and 18th centuries contributed significantly to meteorological research. The formulation of the laws of gas pressure, temperature, and density by Robert Boyle and Jacques-Alexandre-César Charles, the development of calculus by Isaac Newton and Gottfried Wilhelm Leibniz, the development of the law of partial pressures of mixed gases by John Dalton, and the formulation of the doctrine of latent heat (i.e., heat release by condensation or freezing) by Joseph Black are just a few of the major scientific breakthroughs of the period that made it possible to measure and better understand theretofore unknown aspects of the atmosphere and its behaviour. During the 19th century, all of these brilliant ideas began to produce results in terms of useful weather forecasts.

</div>
<h1>The emergence of synoptic forecasting methods</h1>
<h2>Analysis of synoptic weather reports</h2>
<div class="para">
    An observant person who has learned nature’s signs can interpret the appearance of the sky, the wind, and other local effects and “foretell the weather.” A scientist can use instruments at one location to do so even more effectively. The modern approach to weather forecasting, however, can only be realized when many such observations are exchanged quickly by experts at various weather stations and entered on a synoptic weather map to depict the patterns of pressure, wind, temperature, clouds, and precipitation at a specific time. Such a rapid exchange of weather data became feasible with the development of the electric telegraph in 1837 by Samuel F.B. Morse of the United States. By 1849 Joseph Henry of the Smithsonian Institution in Washington, D.C., was plotting daily weather maps based on telegraphic reports, and in 1869 Cleveland Abbe at the Cincinnati Observatory began to provide regular weather forecasts using data received telegraphically.
    <br>
    Synoptic weather maps resolved one of the great controversies of meteorology—namely, the rotary storm dispute. By the early decades of the 19th century, it was known that storms were associated with low barometric readings, but the relation of the winds to low-pressure systems, called cyclones, remained unrecognized. William Redfield, a self-taught meteorologist from Middletown, Conn., noticed the pattern of fallen trees after a New England hurricane and suggested in 1831 that the wind flow was a rotary counterclockwise circulation around the centre of lowest pressure. The American meteorologist James P. Espy subsequently proposed in his Philosophy of Storms (1841) that air would flow toward the regions of lowest pressure and then would be forced upward, causing clouds and precipitation. Both Redfield and Espy proved to be right. The air does spin around the cyclone, as Redfield believed, while the layers close to the ground flow inward and upward as well. The net result is a rotational wind circulation that is slightly modified at Earth’s surface to produce inflow toward the storm centre, just as Espy had proposed. Further, the inflow is associated with clouds and precipitation in regions of low pressure, though that is not the only cause of clouds there.
    <br>
    In Europe the writings of Heinrich Dove, a Polish scientist who directed the Prussian Meteorological Institute, greatly influenced views concerning wind behaviour in storms. Unlike the Americans, Dove did not focus on the pattern of the winds around the storm but rather on how the wind should change at one place as a storm passed. It was many years before his followers understood the complexity of the possible changes.

</div>

 {{>footer}}

 <script src="js/app.js"></script>
</body>
</html>