<footer> 
    <p class="pfooter"> This website is built with <strong>nodejs</strong>, deployed with <strong>Heroku + Git</strong> 
    <br>
     Created by <strong>{{name}}</strong></p> 
    </footer> 